.watchlist-errors {
    color: red;
    font-size: .8em;
    text-align: center;
}

.price-alert {
    margin: 0 14% 10% 11.5%;
}

.watchlist-price-alert-text {
    font-size: .85em;
}

.chart-1-container {
    display: flex;
    justify-content: center;
}

.new-balance-container {
    width: 8em;
}

.new-balance {
    font-size: 1.15em;
}

.stock-buy-balance {
    animation: blink-red 2s infinite;
    font-size: 1.075;
    border: 1px solid var(--dark-blue);
    padding: .05em 1em;
    margin-top: 5em;
    border-radius: .35em;
    width: 50%;
}

.watched-td-cell {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}

.watchlist-text {
    color: var(--brownish);
}

.watchlist-bell {
    width: fit-content;
    cursor: pointer;
}

.stock-sell-balance {
    animation: blink-green 2s infinite;
    font-size: 1.075;
    border: 1px solid var(--dark-blue);
    padding: .05em 1em;
    margin-top: 5em;
    border-radius: .35em;
    width: 50%;
}

.stock-chart-container {
    width: 100%;
}

.stock-row-details-expand {
    cursor: pointer;
}

@keyframes blink-red {
    0% {
        background-color: none;
    }

    50% {
        background-color: rgb(255, 148, 148);
    }

    100% {
        background-color: none;
    }
}


@keyframes blink-green {
    0% {
        background-color: none;
    }

    50% {
        background-color: rgb(133, 250, 133);
    }

    100% {
        background-color: none;
    }
}
