@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,100&display=swap');

.marble-container {
    position: fixed;
    z-index: -2;
    display: flex;
}


.combined-marble {
    width: 100vw;
    height: 100vh;
}

.fatm-h2 {
    padding-top: 1em;
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    color: var(--brownish);
    font-family: "Genos", sans-serif;
}
