/* TODO Add site wide styles */
@import url('hgttps://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


:root {
    --dark-blue: #293F90;
    --brownish: #7A6D7D;
    --light-blue: #46AEEF;
    --light-green: #9EB1B1;
    --off-white: #EEF1EF;
}
